{% extends 'base.html.twig' %}

{% block title %}Diploma index{% endblock %}

{% block body %}
    <h1>Diploma index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Author</th>
                <th>Date</th>
                <th>File</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for diploma in diplomas %}
            <tr>
                <td>{{ diploma.id }}</td>
                <td>{{ diploma.name }}</td>
                <td>{{ diploma.author }}</td>
                <td>{{ diploma.date ? diploma.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ diploma.file }}</td>
                <td>{{ diploma.createdAt ? diploma.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ diploma.updatedAt ? diploma.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('ro_diploma_show', {'id': diploma.id}) }}">show</a>
                    <a href="{{ path('ro_diploma_edit', {'id': diploma.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ro_diploma_new') }}">Create new</a>
{% endblock %}
