{% extends 'base.html.twig' %}

{% block body %}
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="pb-3 mb-4 font-weight-bold border-bottom">
                    Публікації
                </h3>

                {% for publication in publications %}
                    <div class="border-bottom pb-3 mb-4 row">
                        <h5 class="font-weight-bold col-md-12">{{ publication.name }}</h5>
                        <div class="col-md-10">
                            <p class="text-muted">
                                {{ publication.date ? publication.date|date('D d/M/Y') : '' }} <br />
                                {{ publication.coAuthorsSimple }}
                            </p>
                            <div>Місце публікації: {{ publication.place }}</div>
                            {% if publication.pages %}
                                <div>Сторінки: {{ publication.pages }}</div>
                            {% endif %}
                            <div>{{ publication.notes }}</div>
                        </div>

                        <p class="col-md-2">
                            <a href="{{ path('ro_publication_show', {'id': publication.id}) }}"
                               class="btn btn-outline-primary btn-sm mb-2">Перегляд</a>
                            <a href="{{ path('ro_publication_edit', {'id': publication.id}) }}"
                               class="btn btn-outline-primary btn-sm mb-2">Редагувати</a>
                            <a href="{{ path('ro_publication_delete', {'id': publication.id}) }}"
                               class="btn btn-outline-danger btn-sm mb-2">Видалити</a>
                        </p>
                    </div>
                {% endfor %}

                <a href="{{ path('ro_publication_new') }}"
                   class="btn btn-outline-primary btn-sm">Додати публікацію</a>
            </div>
        </div>
    </main>
{% endblock %}
