{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>Колеги</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Ім'я</th>
                <th>Звання</th>
                <th>Кількість публікацій</th>
                <th>Кількість дипломних проектів</th>
                <th>Дії</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.secondName ~ ' ' ~ user.firstName }}</td>
                <td>{{ user.degree }}</td>
                <td>{{ user.publications|length }}</td>
                <td>{{ user.diplomas|length }}</td>
                <td>
                    <a href="{{ path('ro_user_show', {'id': user.id}) }}" class="btn btn-primary btn-sm">Перегляд</a>
                    <a href="{{ path('ro_user_edit', {'id': user.id}) }}" class="btn btn-primary btn-sm">Редагувати</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="16">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{#    <a href="{{ path('ro_user_new') }}">Create new</a>#}
{% endblock %}
